@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Playfair+Display&display=swap');


* { margin: 0;
    padding:0;
    border: none;}
    
body {
    font-family:playfair, sans-serif;
    font-weight: 300;
    color:#605B56;
}

/*logo and headings*/

h1, h2 {
    color:#190B28;
    font-family: nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
   
}

    #logolunar {
        margin: 0 auto;
        float: none;
        font-size:350%;
        width: 450px;
        display: block;
        margin-top: 5px;
       padding: 15px;}

       #hidden {
        
        float: none;
        font-size:350%;
        width: 300px;
        display: block;
        
        text-align: left;
        
           

       }

       

       
       


        
        
        
       
    #mirror {
        background-color:#F0F7EE;
        
        
        overflow: hidden; }
   
    
    


    /*menu navigation links*/
    
    #menunav {
        letter-spacing: 2px;
        font-size: 140%;
        
    }
    #menunav li {
        list-style-type:none;
        float: right;
        letter-spacing: 5px;
        margin: 0 20px 30px 0;}
        
        

    #menunav a {
        text-decoration: none;
        color: inherit;
    
    }
    #menunav a:hover {
        
        border-bottom: 2px solid #FF82A9;
       
       
    }

    /*lunar-image-main picture*/
    #lunar-out {
        height: 550px;
        width: 100%;
        overflow:hidden;

       

    }

    #lunar-jpg {
        height: 550px;
        width: 100%;
        background: url('../images/lunar.jpg'); 
        background-size: cover;
        
    }
    
        
    

    


    
    
    
    



    
