@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Playfair+Display&display=swap');


* { margin: 0;
    padding:0;
    border: none;}
    
body {
    font-family:playfair, sans-serif;
    font-weight: 300;
    color:#605B56;
}

/*logo and headings*/

h1, h2 {
    color:#190B28;
    font-family: nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
   
}

    #logolunar {
        margin: 0 auto;
        float: none;
        font-size:340%;
        width: 450px;
        display: block;
        margin-top: 5px;
        padding: 10px;
        
       
         }


    /*menu navigation links*/
    
    #menunav {
        letter-spacing: 2px;
        font-size: 140%;
    }
    #menunav li {
        list-style-type:none;
        float: right;
        letter-spacing: 5px;
        margin-right: 20px;}
        

    #menunav a {
        text-decoration: none;
        color: inherit;
    
    }
    #menunav a:hover {
        display: inline-block;
        border-bottom: 2px solid #FF82A9;
        border-radius: 2px;
        padding: 2px;
    }
    
        
    

    


    
    
    
    



    
