@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: nunito, sans-serif;
    font-weight: 300;
    color: #605B56;
    background-color: #F0F7EE;
    line-height:1.4;

}

/*logo and headings*/

h1,
h2 {
    color: #4c3549;
    font-family: nunito, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;


}

#logolunar {

    width: 100%;

    margin-top: 10px;

    font-size: 470%;
    padding-top: 15px;
    text-align: center;
    
    


}

#hidden {

    float: none;
    font-size: 350%;
    width: 300px;
    display: block;
    background-color: #F0F7EE;

    text-align: left;



}











#mirror {

    overflow: hidden;
    background-color: #87bba2;
}





/*menu navigation links*/

#menunav {
    letter-spacing: 2px;
    font-size: 140%;

}

#menunav li {
    list-style-type: none;
    float: right;
    letter-spacing: 5px;
    margin: 0 20px 30px 0;
}



#menunav a {
    text-decoration: none;
    color: inherit;

}

#menunav a:hover {

    border-bottom: 2px solid #FF82A9;


}

/*lunar-image-main picture*/
#lunar-out {
    height: 510px;
    width: 100%;
    overflow: hidden;
    position: relative;



}

#lunar-jpg {
    height: 510px;
    width: 100%;
    background: url('../images/lunar.jpg') no-repeat;
    background-size: cover;


    animation-name: lunar-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

/* I got inspired by love running, and used the zoom animation code in my project*/
/*zoom for lunar head image*/
@keyframes lunar-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.05);

    }


}






/*section 2 div style and p style*/

#welcome {
    padding: 20px;
   
    text-align: center;
    font-size: 150%;

    margin-top: 1px;


}

#welcome p {
    padding: 10px;
    margin-top: 5px;
}

/*Timetable*/

#time {

    font-size: 100%;

    display: block;

}

#time h2 {
    margin-left: 12px;
}

table {
    
    height: 120px;


    text-align: left;

}

#time,
table {
    padding: 10px;
    text-align:left;
    margin: 0 auto;

}

table td {
    border-bottom: 1px solid rgb(59, 56, 56);


}


/*footer*/
footer {
    height: 100px;
    float: left;
    width: 100%;

    background-color: #87bba2;
}

.youtube-link li {
    text-align: center;
}

.youtube-link i {
    padding: 10px;
    margin-top: 15px;
    font-size: 200%;
}



/*form*/

#form-img img {

    width: 100%;


    display: block;
    position: relative;
    background: no-repeat center cover;


}





.form {

    height: 400px;
    width: 450px;

    padding: 30px 40px 30px 40px;

    position: absolute;
    background-color: #a8d0b6;
    opacity: 0.9;
    top: 30px;
    left: 30px;

    
   
    border-radius: 20px;
    font-size: 140%;

}

/* label and button*/

.form input {
    padding: 5px;



}

.form div {
    padding: 10px;
    display: block;

}

.form label {
    opacity: 1;
    letter-spacing: normal;
}

#firstname {
    padding: 10px;
    margin-left: 35px;
    border-radius: 20px;
}

#lastname {
    margin-left: 35px;
    padding: 10px;
    border-radius: 20px;
}

#email {
    padding: 10px;
    border-radius: 20px;
}

#submit {
    padding: 20px;
    font-size: 90%;
    border-radius: 20px;
}

#submit:hover {
    color: #FF82A9;
}

/*diary*/



#monday-talk h2 {
    padding: 2px 0 20px 0;
    color: #4c3549;
}

#monday-talk {
   
    letter-spacing: 2px;
    text-align: left;
    font-weight: bold;
    color: #4c3549;
}

#thursday-talk h2 {
    letter-spacing: 2px;
    text-align: left;
    font-weight: bold;
    color: #4c3549;}


#media {
    display:block ;
    width: 100%;
    line-height: 1.4;
    margin-top: 20px;
}
.diary-day {
    float: right;
    width: 45%;
    padding: 5px;
    bottom: 0;
    display: block;
    margin-top: 5px;
    clear: right;
    font-size: 130%;

}
.day-image {
    float: left;
    margin: 20px 0 0 5%;
    padding: 0;
    width: 45%;
    display: block;
}
.day-image img {
    width:100%;
    border-radius: 20px;
    position:relative;
    background: no-repeat;
    float: left;
}
.day {
    width: 100%;
    float: left;
    padding:20px 0 ;
}




/*thank you for signing up*/

#thank-you {
    
    font-size: 300%;
    color: #4c3549;
    text-align: center;
    line-height: 500px;
    
}

@media screen and (max-width:950px) {
   .diary-day{
       position:inherit;
       width: 80%;
       margin-left: 10%;
       margin-right: 10%;
       font-size: 100%;
       padding: 0;
   }
   .day-image {
       width: 90%;
       margin-left: 5%;

   }
   
       

       
   }
   #media {
       display:block;
       width: 100%;
       line-height: 80px;
       
   }
   #monday-talk, #thursday-talk {
      
       
       width: 50% ;
       padding: 5px;
       bottom: 0;
       display: block;
       margin-top: 5px;
      
       
   }
   #menunav, #logolunar {
       display: block;
       margin:0;
       padding: 0;
   }
   #logolunar {
   
    width: 50%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;

   }

   
    
}